@import "tailwindcss";

@theme {
  /* Inter font */
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #f9f9ff;
  color: #141b2b;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
